<form (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Title" [formControl]="title" required>
    <mat-error *ngIf="title?.invalid && (title?.dirty || title?.touched) && title?.errors.required">
      Title is required!
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select *ngIf="expense" [formControl]="category" required [(ngModel)]="expense.category">
      <!--<mat-option>{{currCat.name}}</mat-option>-->
      <mat-option *ngFor="let cat of categories" [value]="cat">
        {{cat.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="category?.invalid && (category?.dirty || category?.touched) && category?.errors.required">
      Category is required!
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select *ngIf="expense" [formControl]="place" required [(ngModel)]="expense.place">
      <!--<mat-option>{{currPlace.name}}</mat-option>-->
      <mat-option *ngFor="let place of places" [value]="place">
        {{place.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="place?.invalid && (place?.dirty || place?.touched) && place?.errors.required">
      Place is required!
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Value" [formControl]="value" required>
    <mat-error *ngIf="value?.invalid && (value?.dirty || value?.touched) && value?.errors.required">
      Value is required!
    </mat-error>
  </mat-form-field>


  <mat-form-field>
    <textarea matInput placeholder="Description" [formControl]="description"></textarea>
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit">Save</button>

</form>