<mat-toolbar color="primary">
  <button mat-button routerLink="/">
    <mat-icon>home</mat-icon>
    Expense tracker
  </button>
  <div *ngIf="authService.isLoggedIn">
    <button mat-button routerLink="/expenses">My expenses</button>
    <button mat-button routerLink="/expenses/add">New expenses</button>
    <button mat-button routerLink="/categories/add">Add category</button>
    <span>Hello, {{ authService.user.username }}!</span>
    <button mat-button (click)="logout()">Logout</button>
  </div>
  <div *ngIf="!authService.isLoggedIn">
    <button mat-button routerLink="/login">Login</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
